.vscode
.venv*
.DS_Store
__pycache__/
*.py[cod]
.pytest_cache/
.coverage
coverage.xml
htmlcov/
*.swp
*.swo
*.swn
*.bak
*.tmp
*.log
.tmp/
build/
dist/*
.Trash*
update_log.txt
.cache/
_cache/
.caveviewer_cache/
*.private.pem
release_signing_private_key.pem
.caveviewer/
run_caveviewer.sh
.idea/
